---
import { getStudies } from "@lib/get-ij-studies"
import SearchIcon from "@icons/Search.astro"
import SectionContainer from "@components/SectionContainer.astro"

const SHORTCUTS = [
{
    label: "🌱  Sin experiencia",
    href: "https://www.infojobs.net/jobsearch/search-results/list.xhtml?keyword=&segmentId=&page=1&sortBy=PUBLICATION_DATE&onlyForeignCountry=false&countryIds=17&sinceDate=ANY&experienceMin=_0_YEARS&experienceMax=_0_YEARS",
  },
  {
    label: "🗓️  Findes",
    href: "https://www.infojobs.net/ofertas-trabajo/fines-de-semana",
  },
  {
    label: "🕒  Media jornada",
    href: "https://www.infojobs.net/ofertas-trabajo/media-jornada",
  },
  {
    label: "💼  Prácticas",
    href: "https://www.infojobs.net/ofertas-trabajo/practicas",
  },
] as const

const studies = await getStudies()
console.log(studies)
---

<SectionContainer class="bg-hero-pattern mx-auto w-full rounded-3xl px-4 py-6">

    <h1 class="text-black/80 font-semibold tracking-[0.35px] text-2xl text-center pb-4">Tu carrera empieza aquí</h1>

    <search class="bg-white rounded-3xl p-4">
        <form>
            <div>
                <select class="w-full py-4 border-b border-gray-300 text-gray-600">
                    <!-- {
                        studies.map(({ id, value, key}) => {
                            const isDefault = id === 0
                            const literal = isDefault ? 'Nivel de estudio' : value
                            return (
                                <option value={key} disabled={isDefault} selected={isDefault}>{literal}</option>
                            )
                        })
                    } -->
                    <option value="" disabled selected>Nivel de estudio</option>
                    <option value="1">Bachillerato</option>
                    <option value="2">Grado</option>
                    <option value="3">Máster</option>
                </select>
            </div>

            <div>
                <input placeholder="Estudios, puesto, empresa..." class="w-full py-4 border-b border-gray-300 text-gray-600">
            </div>

            <div class="mb-8">
                <input placeholder="Provincia o población" class="w-full py-4 text-gray-600">
            </div>

            <button class="rounded-full text-lg font-medium bg-accent hover:saturate-150 transition text-white px-4 py-2 inline-flex gap-x-2 justify-center items-center w-full">
                <SearchIcon />
                Buscar ofertas
            </button>
        </form>
    </search>

    <footer>
        <h5 class="text-center pt-8 pb-4">Explora trabajos que se adapten a ti</h5>

        <div class="flex flex-wrap gap-4 justify-around">
            {
                SHORTCUTS.map(({ label, href }) => (
                    <a class="bg-white rounded-full p-4 text-primary" href={href}>
                        {label}
                    </a>
                ))
            }
        </div>
    
    </footer>
</SectionContainer>